<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Data to Delete</title>
</head>
<body>
    <h1>Select Data to Delete</h1>

    <!-- Form to select specific data for deletion -->
    <form action="/select_to_delete" method="post">
        <label for="yearlyTempID">Enter YearlyTemp ID:</label>
        <input type="text" id="yearlyTempID" name="yearlyTempID">
        <input type="submit" value="Select">
    </form>

    <hr>

    <!-- Display the full table -->
    <table border="1">
        <tr>
            <th>YearlyTemp_ID</th>
            <th>Area_ID</th>
            <th>Year</th>
            <th>Season</th>
            <th>Temperature</th>
            <th>Predicted_Temp</th>
        </tr>
        {% for data in yearly_season_temps %}
        <tr>
            <td>{{ data[0] }}</td>
            <td>{{ data[1] }}</td>
            <td>{{ data[2] }}</td>
            <td>{{ data[3] }}</td>
            <td>{{ data[4] }}</td>
            <td>{{ data[5] }}</td>
        </tr>
        {% endfor %}
    </table>

    {% if data %}
        <hr>
        <p>
            ID: {{ data[0] }}<br>
            Area ID: {{ data[1] }}<br>
            Year: {{ data[2] }}<br>
            Season: {{ data[3] }}<br>
            Temperature: {{ data[4] }}<br>
            Predicted Temp: {{ data[5] }}<br>
            <form action="/delete_data/{{ data[0] }}" method="post">
                <input type="submit" value="Delete">
            </form>
        </p>
    {% endif %}
</body>
</html>
