<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Data to Edit</title>
</head>
<body>
    <h1>Select Data to Edit</h1>

    <!-- Display the full table -->
    <table border="1">
        <tr>
            <th>YearlyTemp_ID</th>
            <th>Area_ID</th>
            <th>Year</th>
            <th>Season</th>
            <th>Temperature</th>
            <th>Predicted_Temp</th>
            <th>Edit</th>
        </tr>
        {% for data in yearly_season_temps %}
        <tr>
            <td>{{ data[0] }}</td>
            <td>{{ data[1] }}</td>
            <td>{{ data[2] }}</td>
            <td>{{ data[3] }}</td>
            <td>{{ data[4] }}</td>
            <td>{{ data[5] }}</td>
            <td>
                <form action="/edit/{{ data[0] }}" method="get">
                    <input type="submit" value="Edit">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
